.sigCanvasBorder {
  border: 2px solid black;
}

.create-document-container {
  padding: 20px;
  background-color: #f0f0f0;
  width:100%;

}

.a4-paper {
  /* width: 793.7px; 
  height: 1122.5px;  */
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  width: calc(200mm); /* A4 paper width in mm */
  overflow-y: auto;
  max-height: calc(297mm);
  height: calc(140mm);
}

.document-body {
  color: black;
  height: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
