.placeholder-blot {
  user-select: none;
  /* Make it non-selectable */
  /* border: "2px solid "; */
}

.ql-container {
  height: "auto";
}

.ql-editor {
  height: calc(100% - 40px); /* Adjust height based on toolbar size */
  padding: 20px;
  box-sizing: border-box;
}
.createBox{
    /* box-shadow: 2px 2px 2px 2px grey; */
    margin-top: 30px;
}