
.ant-menu-item:hover {
    background-color: #035966 !important;
  }
  
  .ant-menu-item-selected {
    background-color: #035966 !important;
  }

  /* .slideBar{
    background-image: url("../Images/Light\ Modern\ Textile\ Minimalism\ Desktop\ Wallpaper\ \(1\).png ");
    background-size:auto;
  } */

  .anticon{
    color: "red";
  }

  .viewMoreBox{
    /* border: 2px solid black; */
    height: 320px;
    width: 470px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 8px;
    margin-top: 20px;
}
.viewHeading{
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 8px;

}
.viewImg img{
    height: 160px;
    width: 150px;
    /* border: 2px solid black; */
    border-radius: 15px;
    margin-top:50px;
    margin-left: 30px;
    box-shadow: 0px 2px 8px;
}
.viewDetail{
    display: flex;
}
/* Center the modal title */
.centered-modal .ant-modal-title {
  text-align: center;
  font-size: 20px;
}

