
.ant-menu-item:hover {
    background-color: #035966 !important;
  }
  
  .ant-menu-item-selected {
    background-color: #035966 !important;
  }

  /* .slideBar{
    background-image: url("../Images/Light\ Modern\ Textile\ Minimalism\ Desktop\ Wallpaper\ \(1\).png ");
    background-size:auto;
  } */

  .anticon{
    color: "red";
  }

