.mainBox {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  /* font-family: script; */
  width: 100%;
  height: 83vh;
}
.content-box {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */

  margin-top: 50px;
}
.f1,
.f2 {
  /* border: 2px solid black; */
  height: 120px;
  width: 250px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 18px 23px;
  font-weight: 600;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.mainBox {
  background-size: cover;
  /* background-image: url("https://img.freepik.com/free-vector/stylish-blue-wave-presentation-background_1017-33720.jpg?t=st=1719485351~exp=1719488951~hmac=310e5134e2a98dc46258f01b316f6b9c50aa90ef20e922e3ca68f71e4002cb77&w=826"); */
  background-image: url("../Images/wave2.avif");
}
.heading {
  /* border: 2px solid black; */
  width: 1120px;
  text-align: center;
}
.f1 h6{
    font-size: 16px;
    font-weight: 550;
    font-family: sans-serif;
}
.f1 h4{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
